body,
#react-root {
    margin: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: aliceblue;
}

#react-root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#chains {
    flex-grow: 2;
    height: 40%;
    width: 100%;
    border: 2px solid black;
}

#bottom-pane {
    flex-grow: 3;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#chain-item-list {
    flex-grow: 1;
    height: 100%;
    width: 20%;
    border: 2px solid black;
    overflow-y: scroll;
}

#main-editor {
    flex-grow: 4;
    height: 100%;
    width: 80%;
    padding: 10px;
    border: 2px solid black;
    overflow-y: scroll;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px;
}

#item-list li {
    display: flex;
    justify-content: space-between;
}

li:hover {
    background-color: antiquewhite;
}

li.selected {
    background-color: aquamarine;
}

.add-item {
    border: dotted 2px black;
    text-align: center;
}

.add-item:hover {
    background-color: antiquewhite;
}

#delete-item {
    border: 0;
    border-radius: 20%;
    background-color: crimson;
    align-self: flex-end;
}
#delete-item:hover {
    background-color: red;
}

.item-type {
    align-self: center;
}
.item-index {
    align-self: flex-start;
}
.item-delete {
    width: 15%;
}

.next-requirements,
.img-data {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.img-args {
    border: 2px dotted black;
    border-radius: 5px;
    padding: 5px;
}

/* edgebutton */
.edgebutton {
    width: 20px;
    height: 20px;
    background: #eee;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 50%;
    font-size: 12px;
    line-height: 1;
}

.edgebutton:hover {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
}

.edgebutton-foreignobject div {
    background: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
}
